<!DOCTYPE html>
<html>
  <head>
    <title>Yump</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/102b64aaf1.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}", async: true %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
